---
- name: Install apprise
  tags: pkg, apprise
  apt:
    name: apprise
    state: present

- name: Configure apprise
  tags: pkg, config, apprise
  blockinfile:
    path: /etc/apprise.yml
    create: true
    mode: "0644"
    owner: "{{ user }}"
    group: "{{ user }}"
    block: |
      version: 1
      urls:
        - ntfy://{{ ntfy_topic }}:
            tags: postal_horn,{{ ansible_facts["hostname"] }}
